{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.email_sent_title'|trans }}{% endblock %}

{% block body %}
    <p>
        {{ 'reset_password.check_email_message'|trans }}
        {{ 'reset_password.email.expiration'|trans({'%time%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}
    </p>
    <p>{{ 'reset_password.check_spam'|trans }} <a href="{{ path('app_forgot_password_request') }}">{{ 'reset_password.try_again'|trans }}</a>.</p>
{% endblock %}
