{% extends 'base.html.twig' %}

{% block title %}{{ 'parcours.page_title'|trans }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<div class="parcours-view-page">
    <div class="parcours-view-header">
        <h1>{{ course.name }}</h1>
        <h2>{{'User : '|trans}}{{user.email}}</h2>
        <span>{{'status : '|trans}}{{ course.status }}</span><br>
        <span>{{'created at : '|trans}}{{ course.createAt|date('d/m/Y') }}</span><br>
        <span>{{'updated at : '|trans}}{{ course.updateAt|date('d/m/y') }}</span><br>
        <span>
        {% if course.sameStartFinish %}
            <!-- TODO: ajouter la traduction -->
            {{ 'parcours.baliseStartFinishY'|trans}}
        {% else %}
            {{ 'parcours.baliseStartFinishN'|trans}}
        {% endif %}
        </span>
        <!-- TODO: ajouter la traduction -->
        <h2>{{ 'parcours.description'|trans }}</h2>
        <p>{{ course.description }}</p>
    </div>
</div>


    {% block javascripts %}
        
        
        <!-- Load libraries from local assets (no CDN needed) -->
        <script src="{{ asset('assets/js/qrcode.min.js') }}" onload="window.qrCodeLibraryLoaded = true; console.log('QRCode library loaded from local assets');"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" data-turbo-track="reload" async onload="window.jspdfLibraryLoaded = true; console.log('jsPDF library loaded');"></script>
    {% endblock %}

{% endblock %}
